---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import ContactForm from "@components/ContactForm/ContactForm.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<BaseLayout title="Kontakt oss" description="Ta kontakt! Kontaktinformasjon.">
  <div class="site-container mx-auto pt-36 md:pt-44">
    <h1 class="h1 text-center">Tusen takk for din henvendelse!</h1>
    <p class="text-center p-8">Vi tar kontakt med deg så fort som mulig.</p>
  </div>
</BaseLayout>
